/* BASE VARIABLES */

$base-font-family: Montserrat;
$base-font-size: 15px;
$base-font-weight: 300;

/* SECTIONS VARIABLES */

$price-cards-bg-color: #141b1c;

/* COMPONENTS VARIABLES */

$price-card-bg-color: #334247;

$price-card-green-theme: #5bb189;
$price-card-blue-theme: #3a6ba5;
$price-card-orange-theme: #ec632a;
