.popular-wrap {
  width: 147px;
  height: 25px;
  color: #fff;
  background-color: #dc3f45;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
